.DS_Store
*.pyc
*.ipynb_checkpoints
*.nii.gz
*.pdf
*.mrml
*.seg.nnrd

# Folders with data
ants_templates
brain_extraction
data
segmentation

# jupyter notebooks from project week
project_week/*.ipynb
